[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.2"
djangorestframework = "==3.14.0"
psycopg2 = "==2.9.6"
pillow = "==9.5.0"
pytest-django = "==4.5.2"
djlint = "==1.31.1"

[dev-packages]

[requires]
python_version = "3.11"
