{% extends "base.html" %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Preview</th>
            </tr>
        </thead>
        <tbody>
        {% for product in product_list %}
        <tr>
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td><img src="{{ product.preview.url }}" alt="Preview image"></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
