{% extends "base.html" %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Preview</th>
                <th scope="col" style="width:600px;">
                    <form action="{% url 'product-search' %}" method="GET">
                        <div class="row">
                            <div class="col">
                                <input class="form-control"
                                       type="search"
                                       placeholder="Search by name or category"
                                       name="q"
                                       aria-label="Search">
                                    </div>
                                <div class="col">
                                    <button class="btn btn-outline-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for product in product_list %}
                    <tr>
                        <th scope="row">{{ product.id }}</th>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>
                            <img src="{{ product.preview.url }}" alt="Preview image">
                        </td>
                        <td class="text-center">
                            <a href="{% url 'product-update' product.id %}" class="btn btn-success">Update</a>
                            <a href="{% url 'product-delete' product.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock content %}
